<nz-layout class="layout">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
        <div class="logo"></div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
            <li nz-menu-item [routerLink]="['/admin/users']">
                <span title>
                    <i class="anticon anticon-user"></i>
                    <span class="nav-text">用户管理</span>
                </span>
            </li>
            <li nz-menu-item [routerLink]="['/admin/regexps']">
                <span title>
                    <i class="anticon anticon-filter"></i>
                    <span class="nav-text">正则管理</span>
                </span>
            </li>
            <li nz-menu-item [routerLink]="['/admin/categories']">
                <span title>
                    <i class="anticon anticon-solution"></i>
                    <span class="nav-text">分类管理</span>
                </span>
            </li>
            <li nz-menu-item [routerLink]="['/admin/goods']">
                <span title>
                    <i class="anticon anticon-file"></i>
                    <span class="nav-text">属性管理</span>
                </span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header class="layout-header">
            <nz-dropdown class="layout-user-corner" [nzTrigger]="'click'">
                <a href class="ant-dropdown-link" nz-dropdown>
                    <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
                </a>
                <ul nz-menu>
                    <li nz-menu-item (click)="logout()">
                        退出
                    </li>
                </ul>
            </nz-dropdown>
        </nz-header>
        <nz-content class="main-content">
            <nz-breadcrumb class="breadcrumb">
                <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                <nz-breadcrumb-item></nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="outler-wrap">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer class='text-center'>Ant Design ©2017 后台管理 by sam5372@foxmail.com</nz-footer>
    </nz-layout>
</nz-layout>
