<form nz-form [formGroup]="validateForm" (submit)="submit()">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="2" [nzSm]="4" [nzXs]="24">
            <label nz-form-item-required>名称</label>
        </div>
        <div nz-form-control nz-col [nzMd]="4" [nzSm]="6" [nzXs]="24">
            <nz-input [nzSize]="'large'" [(ngModel)]="cItem.name" formControlName="name"></nz-input>
            <div nz-form-explain *ngIf="getFormControl('name').hasError('required')">请输入数据</div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="2" [nzSm]="4" [nzXs]="24">
            <label nz-form-item-required>已有文件</label>
        </div>
        <div nz-form-control nz-col [nzMd]="10">
            <ul>
                <li *ngFor="let good of cItem.goods" >
                    {{good.originname}}
                </li>
            </ul>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="2" [nzSm]="4" [nzXs]="24">
            <label nz-form-item-required>关联文件</label>
        </div>
        <div nz-form-control nz-col [nzMd]="6" [nzSm]="6" [nzXs]="24">
            <nz-select [(ngModel)]="selectedGoods" [nzMode]="'multiple'" [nzPlaceHolder]="'choose option'" formControlName="goods" (nzScrollToBottom)="scrollToBottom()" nzAllowClear nzShowSearch>
                <nz-option *ngFor="let option of goods" [nzLabel]="option.originname" [nzValue]="option._id">
                </nz-option>
                <nz-option [nzLabel]="'disabled'" [nzDisabled]="true" [nzValue]="'disabled'" *ngIf="selectLoading">
                    <ng-template #nzOptionTemplate>
                        <i class="anticon anticon-loading anticon-spin"></i> 加载中...
                    </ng-template>
                </nz-option>
            </nz-select>
            <div nz-form-explain *ngIf="getFormControl('goods').hasError('required')">请输入数据</div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="2" [nzSm]="4" [nzXs]="24"></div>
        <div nz-form-control nz-col>
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" [disabled]="!validateForm.valid">保存</button>
            <button *ngIf="!cItem._id" type="button" nz-button [nzSize]="'large'" [nzType]="'danger'" (click)='cancel()'>取消</button>
        </div>
    </div>
</form>
