<form nz-form [formGroup]="validateForm" (submit)="submit()">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="3" [nzSm]="4" [nzXs]="24">
            <label nz-form-item-required>名称</label>
        </div>
        <div nz-form-control nz-col [nzMd]="4" [nzSm]="6" [nzXs]="24">
            <nz-input [nzSize]="'large'" [(ngModel)]="item.key" formControlName="key"></nz-input>
            <div nz-form-explain *ngIf="getFormControl('key').hasError('required')">请输入数据</div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="3" [nzSm]="4" [nzXs]="24">
            <label nz-form-item-required>值</label>
        </div>
        <div nz-form-control nz-col [nzMd]="4" [nzSm]="6" [nzXs]="24">
            <nz-input [nzSize]="'large'" [(ngModel)]="item.value" formControlName="value"></nz-input>
            <div nz-form-explain *ngIf="getFormControl('value').hasError('required')">请输入数据</div>
        </div>
    </div>

    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="3" [nzSm]="4" [nzXs]="24"></div>
        <div nz-form-control nz-col>
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" [disabled]="!validateForm.valid">保存</button>
            <button type="button" nz-button [nzSize]="'large'" [nzType]="'dashed'" [routerLink]="[_listLink, good._id]">返回</button>
        </div>
    </div>
</form>
