<nz-layout class="layout">
    <nz-header>
        <div class="logo">
            <img src="assets/imgs//logo.png" alt="storebox">
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
        </ul>
    </nz-header>
    <nz-content style="padding:0 50px;">
        <nz-breadcrumb style="margin:12px 0;">
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>List</nz-breadcrumb-item>
            <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div style="background:#fff; padding: 24px; min-height: 280px;">
            <nz-table #nzTable [nzAjaxData]="_dataSet" [nzLoading]="_loading" [nzTotal]="_total" [nzPageSize]="_pageSize" [(nzPageIndex)]="_current"
                (nzPageIndexChange)="refreshList()">
                <thead nz-thead>
                    <tr>
                        <th nz-th>
                            <span>文件名</span>
                        </th>
                        <th nz-th>
                            <span>标签</span>
                        </th>
                        <th nz-th>
                            <span>sha256sum</span>
                        </th>
                        <th nz-th>
                            <span>md5sum</span>
                        </th>
                        <th nz-th>
                            <span>操作</span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                        <td nz-td>
                            <a>{{data.originname}}</a>
                        </td>
                        <td nz-td>
                            <span *ngFor="let tag of data.tags">
                                {{tag}}
                            </span>
                        </td>
                        <td nz-td>
                            {{data.sha256sum}}
                        </td>
                        <td nz-td>
                            {{data.md5sum}}
                        </td>
                        <td nz-td>
                            <a (click)="downloadFile(data)">下载</a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular Author:sam5372@aliyun.com</nz-footer>
</nz-layout>
