<form nz-form [formGroup]="validateForm" (submit)="submit()">
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="3" [nzSm]="4" [nzXs]="24">
            <label nz-form-item-required>名称</label>
        </div>
        <div nz-form-control nz-col [nzMd]="4" [nzSm]="6" [nzXs]="24">
            <nz-input [nzSize]="'large'" [(ngModel)]="item.name" formControlName="name"></nz-input>
            <div nz-form-explain *ngIf="getFormControl('name').hasError('required')">请输入数据</div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="3" [nzSm]="4" [nzXs]="24">
            <label nz-form-item-required>标签</label>
        </div>
        <div nz-form-control nz-col [nzMd]="4" [nzSm]="10" [nzXs]="24">
            <nz-tag *ngFor="let tag of item.tags; let i = index;" [nzClosable]="true" (nzClose)="handleClose(tag)">
                {{sliceTagName(tag)}}
            </nz-tag>
            <button nz-button *ngIf="!inputVisible" [nzSize]="'small'" [nzType]="'dashed'" (click)="showInput()">+ 添加标签</button>
            <nz-input #tagInput *ngIf="inputVisible" type="text" [(ngModel)]="inputValue" (nzBlur)="handleInputConfirm()" (keydown.enter)="handleInputConfirm()" formControlName="tag">
                <ng-template #addOnAfter>
                    <span (click)="handleInputConfirm()">确实</span>
                </ng-template>
            </nz-input>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="3" [nzSm]="4" [nzXs]="24">
            <label nz-form-item-required>关联</label>
        </div>
        <div nz-form-control nz-col [nzMd]="4" [nzSm]="6" [nzXs]="24">
            <nz-select [(ngModel)]="selectedPid" [nzPlaceHolder]="'选择关联分类'" formControlName="pid" nzAllowClear nzShowSearch="true">
                <nz-option *ngFor="let option of categories" [nzLabel]="option.name" [nzValue]="option._id">
                </nz-option>
            </nz-select>
            <div nz-form-explain *ngIf="getFormControl('pid').hasError('required')">请输入数据</div>
        </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzMd]="3" [nzSm]="4" [nzXs]="24"></div>
        <div nz-form-control nz-col>
            <button nz-button [nzSize]="'large'" [nzType]="'primary'" [disabled]="!validateForm.valid">保存</button>
            <button *ngIf="!item._id"  type="button" nz-button [nzSize]="'large'" [nzType]="'danger'" (click)='cancel()'>取消</button>
        </div>
    </div>
</form>
